<div class="blogCardsContainer">
    <% cardData.forEach((object) => { %>
        <div class="wrapper">
            <h3 class="title">
                <a class="link" href="<%= object.url %>"><%= object.title %></a>
            </h3>
            <div class="tags">
                <% object.tags.forEach((t) => { %>
                    <a class="tag" href="tag=<%= t %>">
                        #<%= t %>
                    </a>
                <% }); %>
            </div>
            <p class="fullDate">
                <%= object.date %>
            </p>
            <p class="summary">
                <%= object.summary %>
            </p>
            <a class="link" href="<%= object.url %>">Read more</a>
        </div>
    <% }); %>
</div>