<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

    <header>
        <div class="headerWrapper">
            <h1>CCNA and Homelab Blog</h1>
            <div id="introduction">
                <div id="namePhoto">
                    <div class="imgWrapper">
                        <img src="foto.jpg" id="hoofd">
                    </div>
                    <h2>Tijn Gort</h2>
                </div>
                <p id="introText">
                    I am an IT student working at a social IT company. 
                    I'm currently studying for CCNA and I work on
                    my homelab and this website!
                </p>
            </div>
        </div>
    </header>

    <main>
        <%- include('blogCards.html') -%>
    </main>

    <%- include('footer.html') -%>

</body>

</html>