html,
body {
    height: 100%;
    margin: 0;
    background-color: #363635;
}

main {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

#headerPageContent {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
    background-color: #56A1A4;
}

#blogContent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
    background-color: #56A1A4;
}

footer {
    display: flex;
    justify-content: center;
}

#footerContent {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
    background-color: #56A1A4;
}

#headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
    background-color: #56A1A4;
}

#headerWrapper h1,
#headerPageContent h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#introduction {
    width: 50%;
}

#namePhoto h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.5em;
}

#introText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}


#blogCardsContainer {
    min-height: 100vh;
    background-color: #56A1A4;
    padding: 0.5em;
    max-width: 800px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#namePhoto {
    display: flex;
}

#hoofd {
    width: 20%;
    border-radius: 50%;
}

.wrapper {
    width: 70%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 15px;
}

.fullDate {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.3em;
    margin-left: 0;
    font-size: 1em
}

.title {
    text-decoration: underline;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.tags {
    display: flex;
}

.tags p {
    margin: 0;
    padding-right: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.summary {
    padding: 0.5em;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: black;
}