:root {
    --text-color: #FFF8F0;
    --text-summary: #fff1d9ea;
    --text-color-secondary: #ffffffa3;
    --text-color-tag: #f2f2f2c9;
    --background-color: #A0153E;
    --background-color2: #be1a4b;
    --background-color3: #7a1332;


    /* --text-color: #F3F9D2; */
    /* --text-color: #FBBA72; */
    /* --text-color: #FFE0B5; */
    /* --text-color: #FFF; */
    /* --text-color: #FFF1E0; */
    /* --text-color-tag: #dddddd; */

    /* --background-color: #161032; */
    /* --background-color: #6B2D5C; */
    /* --background-color: #901338; */
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

header {
    width: 100%;
}

main {
    width: 100%;
}

footer {
    width: 100%;
}

.blogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 90%;
    color: var(--text-color);
}

.paddingTop {
    padding-top: 2em;
}

.blogWrapper {
    max-width: 550px;
}

.blogWrapper * {
    font-family: Arial, Helvetica, sans-serif;
}

.blogWrapper p {
    font-size: 17px;
    line-height: 1.5;
}

.blogWrapper h1 {
    margin-top: 2em;
    font-size: 2.3em;
}

.socialsWrapper {
    display: flex;
    justify-content: center;
}

.socialsWrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color2);
    border-radius: 50%;
    padding: 0.5em;
    margin: 0 1em;
    transition-timing-function:
        cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.socialsWrapper a:hover {
    background-color: var(--background-color3);
}


.footerContent {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.footerContent p {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.headerWrapper {
    width: 100%;
    margin: 3em 0 5em 0;
}

.headerWrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

#namePhoto h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin-left: 0.5em;
}

#introText {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 1.1em;
}

.blogCardsContainer {
    min-height: 100vh;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

#namePhoto {
    display: flex;
    align-items: center;
}

.imgWrapper {
    height: 75px;
}

#hoofd {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.wrapper {
    /* width: 550px; */
    padding: 1em;
    margin: 0.5em;
    border-radius: 15px;
}

.secondaryText {
    color: var(--text-color-tag);
}

.fullDate {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color-tag);
    margin: 0.3em;
    margin-left: 0;
    font-size: 1em
}

.title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.title .link {
    text-decoration: none;
}

.tags {
    display: flex;
}

.tag {
    margin: 0;
    padding-right: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--text-color-tag);
    font-size: 1.2em;
}

.homeButton {
    text-decoration: none;
    margin: 0.5em;
    color: var(--text-color);
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.summary {
    /* padding: 0.5em; */
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    /* border-style: solid; */
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
    font-size: 1.1em;
    color: var(--text-color);
}

.FourOFourMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.FourOFourMessage h1 {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.hljs {
    display: block;
    overflow-x: auto;
    border-radius: 5px;
    padding: 1em;
}

@media only screen and (max-width: 1209px) {
    .headerWrapper h1 {
        text-align: center;
    }

    .blogCardsContainer {
        min-height: 100vh;
        /* padding: 0.5em; */
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footerContent {
        display: flex;
        justify-content: center;
        max-width: 800px;
        /* padding: 0.5em; */
        color: var(--text-color);
    }

    .blogContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        padding: 1em;
    }

    .paddingTop {
        padding-top: 2em;
    }

    .wrapper {
        /* width: 550px; */
        padding: 1em;
        margin: 0.5em;
        border-radius: 15px;
    }

}

@media only screen and (max-width: 600px) {
    .blogWrapper {
        max-width: 380px;
    }

}