:root {
    --text-color: #F3F9D2;
    --background-color: #A0153E;
    --font-family:
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

main {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

#headerPageContent {
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
}

.blogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
    color: var(--text-color);
}

.paddingTop {
    padding-top: 2em;
}

.blogWrapper {
    max-width: 480px;
}

.blogWrapper * {
    font-family: Arial, Helvetica, sans-serif;
}

.blogWrapper p {
    font-size: 17px;
    line-height: 1.2em;
}

.blogWrapper h1 {
    margin-top: 2em;
    font-size: 2.3em;
}

.socialsWrapper a:nth-child(2){
    margin-left: 1em;
}

footer {
    display: flex;
    justify-content: center;
}

.footerContent {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
}

.footerContent p {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
}

.headerWrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#introduction {
    width: 50%;
}

#namePhoto h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin-left: 0.5em;
}

#introText {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 1.1em;
}

.blogCardsContainer {
    min-height: 100vh;
    padding: 0.5em;
    align-content: flex-start;
    /* justify-content: center; */
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

#namePhoto {
    display: flex;
    align-items: center;
}

.imgWrapper {
    height: 75px;
}

#hoofd {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.wrapper {
    /* width: 70%; */
    width: 550px;
    padding: 1em;
    margin: 0.5em;
    border-radius: 15px;
}

.fullDate {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0.3em;
    margin-left: 0;
    font-size: 1em
}

.title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.title .link {
    text-decoration: none;
}

.tags {
    display: flex;
}

.tag {
    margin: 0;
    padding-right: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2em;
}

.homeButton {
    text-decoration: none;
    margin: 0.5em;
    color: var(--text-color);
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.summary {
    padding: 0.5em;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: var(--text-color);;
}

.FourOFourMessage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    max-width: 800px;
    width: 90%;
    padding: 0.5em;
}

.FourOFourMessage h1 {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.hljs {
    display: block;
    overflow-x: auto;
    border-radius: 5px;
    padding: 1em;
}

@media only screen and (max-width: 1209px) {
    .headerWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        width: 100%;
        padding: 0.5em;
    }

    .headerWrapper h1 {
        text-align: center;
    }

    .blogCardsContainer {
        min-height: 100vh;
        padding: 0.5em;
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footerContent {
        display: flex;
        justify-content: center;
        max-width: 800px;
        width: 100%;
        padding: 0.5em;
        color: var(--text-color);
    }

    .blogContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        width: 100%;
        padding: 1em;
    }

    .paddingTop {
        padding-top: 2em;
    }

    .wrapper {
    /* width: 550px; */
    padding: 1em;
    margin: 0.5em;
    border-radius: 15px;
}

}